:root {
  font-family: Arial, Helvetica, Tahoma, Verdana, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: linear-gradient(315deg, rgba(122,18,107,1) 0%, rgba(80,21,76,1) 51%) no-repeat center center fixed;
}

section:not(.card__section) {
  @apply h-full flex flex-col items-center justify-center px-4 py-4 lg:py-12 overflow-hidden;
}